:root{
    --main-color:#0e131f;
    --second-color:#E0E2DB;
    --title-font:'Fredoka One', cursive;
    --second-font:'Manrope', sans-serif;
}

@media (max-width:576px){
    .subcontainer{
        display: flex;
        flex-direction: column;
        
    }
    .info{
        margin: 3rem 0 0 0;
    }

}

@media (max-width:768px){
    main{
        display: grid;
        grid-template-areas: 
        "header"
        "article"
        "footer";
        grid-template-columns: 1fr;
    }
    header{
        grid-area: header;
        width: 100vw;
        justify-content: space-between;
        align-items: center;
        padding: 0;      
    }

    header h1{
       margin-right: 2rem;
    }

    

    .search-button{
       display: inline;
       margin-left: 3rem;
    }

    input[type="checkbox"]{
        display: none;
    }

    @keyframes apear {
        from{height: 0rem;
        padding: 0;}
        to{height: 10rem;
        padding-left: 5rem;}
    }

  

    .form-responsive{
        display: flex;
        position: relative;
        grid-area: header;
        align-items: center;
        justify-content: center;
        background-color:rgb(14, 19, 31, 0.8);
        border: none;
        border-radius: 0px;
        margin-top: 10rem;
        height: fit-content;
        display: none;
        animation: apear 0.3s ease;        
    }

    #searchButton:checked ~ .form-responsive{
        display: flex; 
       
    }


    input[type="button"]{
        width: 20rem;
        padding: 1rem 0;
    }



    aside{
        width: 100vw;
        display: none;
    }
    article{
        grid-area: article;
        width: 100vw;
        height: fit-content;
    }

    #article{
        margin-top: 5rem;
        height: fit-content;
    }

    form{
        margin: 0;
    }

    .welcome-page{
        display: flex;
        flex-direction: column;
    }
    .welcome-page__illustration img{
        width: 100%;
        height: 55vh;
    }
    footer{
        grid-area: footer;
        
    }

    
    
    

    .inactivate{
        display: none;
    }
}

@media (min-width:800px )and (max-width:1208px){
    .welcome-page{
        display: flex;
        flex-direction: column;
        padding-top: 5rem;
    }

    .welcome-page__illustration {
        display: flex;
        justify-content: center;
    }
    .welcome-page__illustration img{
        height: 70vh;
        width: 100%;
    }
    .inactivate{
        display: none;
    }
} 
